In [9]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [10]:
df = spark.read.json("yelp_academic_dataset_review.json")

In [12]:
df.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

In [16]:
df.select("text").show()

+--------------------+
|                text|
+--------------------+
|As someone who ha...|
|I am actually hor...|
|I love Deagan's. ...|
|Dismal, lukewarm,...|
|Oh happy day, fin...|
|This is definitel...|
|Really good place...|
|Awesome office an...|
|Most delicious au...|
|I have been here ...|
|Maria is VERY goo...|
|ORDER In (Deliver...|
|We purchased new ...|
|Everything that m...|
|Called for a 5:15...|
|If I could give l...|
|10pm on a super b...|
|A close friend wa...|
|Tried to have my ...|
|My husband and I ...|
+--------------------+
only showing top 20 rows

In [17]:
df.dtypes

[('business_id', 'string'),
 ('cool', 'bigint'),
 ('date', 'string'),
 ('funny', 'bigint'),
 ('review_id', 'string'),
 ('stars', 'double'),
 ('text', 'string'),
 ('useful', 'bigint'),
 ('user_id', 'string')]